@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing:border-box;
  margin:0;
  padding:0;

  font: normal 100%/1.5 sans-serif;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing:inherit;
}

body {
  margin:0;
  padding:0;
  border:thin solid rgba(160,160,160,1.00);
  border-radius:12px;
}

img {
  display:block;
  width:100%;
  position:relative;
 }

.fig{
	padding:0;
	margin:0;
}

.caption{
	background:rgba(0,0,0,.3);
	padding:1.5em;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	font-weight:bold;
	position:relative;
	margin-top:-6em;
	color:rgba(255,255,255,1.00);
}

.grey-caps{
	color:rgba(142,142,142,1.00);
}

.info{
	display:inline-block;
	width:30%;
	border-left:thin solid rgba(160,160,160,1.00);
	padding-left:0.5em;
	margin-bottom:1.5em;
}
